.overlay {
    /*display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    padding: 25px;
    border: 2px solid #555;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
    color: #555;
}

.overlay #app fieldset {
  text-align: inherit;
}

.overlay #app h2 {
  font-size: 150%;
  margin-bottom: 2em;
  margin-left, margin-right: auto;
}

.overlay #app p {
  margin-bottom: 1em;
  text-align: left;
}

.overlay #app button {
  margin: 1em auto;
  box-sizing: border-box;
  padding: 1em;
}

.label {
    text-align: right;
    width: 7em;
    display: inline-block;
}

#gtu_settings fieldset{
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    margin-bottom: 10px;
}


.block {
    width: 800px;
}

.block input[type=text] {
    width: 500px;
}

.block input[type=url] {
    width: 500px;
}


.block label {
  display: inline-block;
  width: 250px;
  text-align: right;
  margin-right: 15px;
}

.gtu_changed {
  background: lightYellow;
}
.gtu_saved {
  background: lightGreen;
}

.gtu-loading {
  color: #999;
}

.gtu-status {
  color: #999;
}
